@model Itinerary.Detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeClose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toWear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toWear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toBring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toBring)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
